@media screen and (max-width:1400px) { 
    .formBlkBox .sec1Wrap{
        gap: 30px;
    }
}
.itemBanner .bannerText{
    font-size: 34px !important;
}
.bannerText span{
    font-size: 40px !important;
}
.headingAbt, .vission .headingVission, .company .headingCompany {
    font-size: 35px;
}
.detailAbt, .vission .detailVission, .companyBox1 .sec1, .team .teamBodySec1 .sec2 .body{
    font-size: 16px;
}
.team .teamBodySec1 .sec2 .des{
    font-size: 18px;
}
.team .teamBodySec1 .sec2 .name{
    font-size: 25px;
}
.fs1 .aboutText{
    font-size: 17px;
}

@media screen and (max-width:1200px) { 
    .searchBarWrap .searchBar {
        width: 325px;
    }
    .aboutUs .row{
        gap: 162px;
    }
    .headingAbt{
        padding-top: 23px;
    }
    .bodyStart{
        flex-wrap: wrap;
    justify-content: center;
    }
   .flexMap{
       flex-direction: column;
       gap: 40px;
   }
}
@media screen and (max-width:1100px) { 
   .team .teamBody{
        flex-wrap: wrap;
        grid-gap: 122px;
        justify-content: center;
    }
    .teamImg{
        width: 239px;
    }
    .teamBodySec1 .sec2{
        width: 239px;
    }
    .formBlkBox .sec1Wrap{
        flex-direction: column;
    }
    .m-t{
        margin-top: 0px;
    }
    .formBlkBox .sec1{
        margin-top: 40px;
    }
}
@media screen and (max-width:999px) { 
  .d-none-mob{
      display: none;
  }
  .d-none-desk{
    display: block !important;
}

.sticky-wrapper {
    position: relative;

  }
  
  .sticky .mobNav{
    position: fixed;
    top: 0;
    background: white;
    left: 0;
    right: 0;
    z-index: 99999;
  }
.logoMobBlk{
   display: flex;
   align-items: center;
   padding-left: 10px;
}
.wrapNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}
.logoMobBlk .ham{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.navbarMobWrap{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding-left: 40px;
}
.nav-menu.active{
    background: #FFFFFF;
    /* box-shadow: 0 0 0 10000px #666666; */
    right: 0 !important;
    height: 100vh;
    position: fixed;
    z-index: 999999999999999999;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s;
    overflow-y: hidden;
    opacity: 1;
    transition: all 0.5s ease;
}
.iconClose{
    width: 13px;
    height: 10px;
}
.nav-menu {
    display: flex;
    flex-direction: column!important;
    width: 80%;
    height: 0px;
    position: absolute;
    top: 80px;
    right: -100% !important;
    opacity: 1;
    transition: all 0.5s ease;
}
.closeWrapNav{
   
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 70px;

}
.modal-open{
    position: fixed;
}
.overlay-nav {
    position: fixed;
    overflow-y: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    z-index: 9999;
}
.itemBanner .bannerText , .itemBanner .enquiryWrap, .itemBannerHome .bannerText, .itemBannerHome .enquiryWrap, .itemBannerHome .bannerText, .itemBannerContact .enquiryWrap {
    width: auto;
}
.itemBanner2 .bannerText , .itemBanner2 .enquiryWrap{
    width: auto;
}
.aboutImg{
    display: flex;
    justify-content: center;
}
.formBlk{
    width: 100%;
}
}
@media screen and (max-width:780px) {
   .mob-footer{
       display: flex;
       justify-content: center;
   }
   .mob-footer .fs1 .searchBarWrap{
       padding-top: 20px;
   }
   .navbarMobWrap{
       padding-left: 0px;
   }
   .team .teamBodySec1 .sec2 .name, .team .teamBodySec1 .sec2 .des, .team .teamBodySec1 .sec2 .body{
       text-align: center;
       padding-top: 15px;
   }
   .team .teamBodySec1 .sec2{
       padding-left: 0px;
   }
   .itemBanner{
       background-position: center right;
   }
   .itemBannerHome{
    background-position: center right;
}
.itemBannerContact{
    background-position: center right;
}
   .itemBanner2{
    background-position: center right;
}
.n-profileMain {
    width: 90%;
    /* max-width: 1200px; */
    margin: 0 auto;
}
} 
@media screen and (max-width:540px) {
    .team .teamBody{
        gap: 51px;
    }
    .detailAbt, .vission .detailVission{
        font-size: 15px;
    }
    .home{
        overflow-x: hidden;
    }
    .headingAbt {
        font-size: 30px;
        width: auto;
    }
    .hrLineVision{
        width: 336px;
    }
    .blk-home{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .vission .headingVission{
        font-size: 30px;
        width: auto; 
    }
    .itemBanner .bannerText,     .itemBannerContact .bannerText ,.itemBannerHome .bannerText {
        font-size: 30px;
    }
    .itemBanner2 .bannerText {
        font-size: 30px;
    }
    .fs1 .title{
        padding-bottom: 20px;
    }
    .fs1 .followUs{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .fs1 {
        padding-top: 21px;
    }
    .enquiry{
        height: 46px;
        width: 172px;
    }
    .mob-footer{
      flex-direction: column-reverse;
      align-items: center;
    }
    .fs1 .copyright, .fs1 .followUs{
        text-align: center;

    }
    .fs1 .followUs{
        padding-top: 40px;
    }
    .fs1 .aboutText{
        font-size: 14px;
        text-align: center;
    }
    .social-links{
        justify-content: center;
    }
    .fs1 .title{
        text-align: center;
    }
    .aboutUs .row {
        grid-gap: 162px;
        gap: 35px;
    }
    .wrapNav {
        flex-direction: row;
        align-items: center;
    }
    .searchBarWrap .searchBar {
        width: 248px;
        margin-left: 0px;
    }
    .itemBanner{
        background: linear-gradient(90deg, #555C66 8.06%, rgba(70, 77, 87, 0.63) 41.31%, rgba(85, 92, 102, 0) 73.33%), url("../images/frame.png");
        background-position: center right 0px;
        background-size: cover;
        width: 100%;
        height: 63vh;
        align-items: center;
        display: flex;
    
        
    }
    .itemBannerHome{
        background: linear-gradient(90deg, #555C66 8.06%, rgba(70, 77, 87, 0.63) 41.31%, rgba(85, 92, 102, 0) 73.33%), url("../images/works.png");
        background-position: center right 0px;
        background-size: cover;
        width: 100%;
        height: 63vh;
        align-items: center;
        display: flex;
    
        
    }
    .itemBanner2{
        background: linear-gradient(90deg, #555C66 8.06%, rgba(70, 77, 87, 0.63) 41.31%, rgba(85, 92, 102, 0) 73.33%), url("../images/work.png");
        background-position: center right 0px;
        background-size: cover;
        width: 100%;
        height: 63vh;
        align-items: center;
        display: flex;
    
        
    }
    .itemBannerContact{
        background: linear-gradient(90deg, #555C66 8.06%, rgba(70, 77, 87, 0.63) 41.31%, rgba(85, 92, 102, 0) 73.33%), url("../images/contactRes.png");
        background-position: center right 0px;
        background-size: cover;
        width: 100%;
        height: 63vh;
        align-items: center;
        display: flex;
    
        
    }
    .pages-Blk{
        flex-direction: column;
        gap: 30px
    }
    .formBlkHeading .heading{
        text-align: center;
        font-size: 30px;
    }
    .formBlkHeading .blkText{
        font-size: 20px;
    }
    .formBlkBox .sec1 .sec1Heading{
        width: auto;
    }
    .formBlkBox .sec1 .sec1Ans{
        width: auto;
    }
    .google-map-code .mapIframe{
        width: 350px !important;
        height:300px !important;
    }
    .mail-icon{
        height: 40px !important;
        width: 40px !important;
    }
    .mailText{
        font-size: 20px !important;
    }
    .itemBannerContact .bannerText{
        width: auto;
    }
    .closeChat{
        position: absolute;
        background: white;
        border-radius: 50%;
        padding: 6px;
        border: 1px solid #eeeeee;
        right: 0px;
        transition-timing-function: ease;
        transition: 2s;
        top: 0px;
    }
    .cbWrap {
        /* display: flex; */
        background: white;
        border: none;
        padding: 20px;
        min-height: auto;
        /* min-height: 407px; */
        overflow-y: scroll;
        /* word-break: break-all; */
        word-break: initial;
        transition: 2s;
        min-width: 300px;
        transition-timing-function: ease;
        transition: 2s;
        transition-timing-function: ease;
        float: right;
        width: auto;
        box-shadow: 0 0 5px 1px rgb(0 0 0 / 25%);
        border-radius: 10px 10px 10px 10px;
        position: relative;
    }
    .chatBotBox {
        position: absolute;
        top: -506px;
        left: 0px;
        transition-timing-function: ease;
        /* overflow-y: scroll; */
        transition: 2s;
        right: 0px;
    }
    .cbWrapHeading{
        font-size: 20px;
    }
    .cbWrap li{
        padding-top: 5px;
    }
    .cbWrap li a{
        font-size: 14px;
    }
    .bannerText{
        font-weight: normal !important;
        font-size: 21px !important;
        line-height: 155% !important;
    }
    .bannerText span{
        font-weight: 700 !important;
        font-size: 25px !important;
    }
 
    /* .cbWrap {
     
        background: white;
        border: none;
        padding: 30px;
        min-height: 407px;
       
        overflow-y: scroll;
        transition: 2s;
        min-width: 400px;
        transition-timing-function: ease;
        transition: 2s;
        transition-timing-function: ease;
        float: right;
        width: auto;
        box-shadow: 0 0 5px 1px rgb(0 0 0 / 25%);
        border-radius: 10px 10px 10px 10px;
        position: relative;
    } */
    /* .chatBot {
        position: fixed;
        bottom: 0px;
        overflow: scroll;
        z-index: 10;
        right: 19px;
        max-width: auto;
        width: auto;
        min-height: auto;
        /* min-height: 117px; */
        /* transition: 2s;
        background-color: transparent;
        z-index: 999999999;
    } */
    /* .chatBotBox{
        position: initial;
    }  */
  
} 
@media screen and (max-width:475px) { 
    .form-control{
        width: 310px;
    }
    .formBlk .submitBtn{
        width: 260px;
    }
    .companyBox1 .sec1{
        font-size: 15px;
    }
    .logoMobBlk .logo {
        width: 94px;
    }
    .itemBanner,     .itemBannerContact{
        height: 62vh;
    }
    .itemBannerHome{
        height: 62vh;
    }
    .itemBanner .bannerText,     .itemBannerHome .bannerText, .itemBannerContact .bannerText  {
        font-size: 23px;

    }
    .itemBanner2{
        height: 62vh;
    }
    .itemBanner2 .bannerText {
        font-size: 23px;
    }
    .enquiry {
        height: 38px;
        width: 151px;
        font-size: 14px;
    }
    .headingAbt, .vission .headingVission, .company .headingCompany, .team .headingTeam {
        font-size: 24px;
        padding-bottom: 0px;
    }
    .company .headingCompany{
        width: 230px;
    }
    .closeWrapNav{
        padding-right: 35px;
    }
    .hrLineVision{
        width: 258px;
    }
    .hrLineCompany{
        width: 258px;
    }
    .aboutImg img {
        width: 399px;
        height: 331px;
    }
    ul.paginationBttns {
        padding-left: 0px;
        display: flex;
        align-items: center;
        /* grid-gap: 30px; */
        /* grid-gap: 30px; */
        gap: 12px;
    }
    .formBlkHeading .blkText{
        text-align: center;
        font-size: 17px;
    }
    .formBlkHeading .heading {
        text-align: center;
        font-size: 24px;
    }
    .formBlkBox .sec1 .sec1Heading{
        font-size: 18px;
    }
    .formBlkBox .sec1 .sec1Ans{
        font-size: 15px;
    }
   
    .chatBot{
        bottom: -25px;
    }
    .float-wtsapp .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 130px;
    }
}
@media screen and (max-width: 379px){
    .searchBarWrap .searchBar {
    margin-left: 4px;
    width: 187px;
}
.bookImg {
    height: 150px;
}
.logoMobBlk{
    padding-left: 0px;
}
.google-map-code .mapIframe{
    width: 300px !important;
    height:250px !important;
}
.flexMapheading{
    font-size: 30px !important;
}
}